<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
     <script src="angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
     <script src="jquery.min.js"></script>
    <script src="script.js"></script>
    <link href="style.css" rel="stylesheet" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <table border="1" >
        <tr>
        <th>Name</th>
            <th>Gender</th>
            <th>Hindi marks</th>
            <th>English Marks</th>
            </tr>
        <tr ng-repeat="student in students">
            <td><input type="text" placeholder="name"
                           ng-model="student.name"  /></td>
            
            <td><input type="text" placeholder="gender"
                           ng-model="student.gender" /></td>
            
            <td><input type="number" min="0" max="100" 
   onKeyUp="if(this.value>100){this.value=' ';}else if(this.value<0){this.value=' ';}"
id="yourid"   placeholder="hindi marks" ng-model="student.hindi_marks"></td>
            
            <td><input type="number" min="0" max="100" 
   onKeyUp="if(this.value>100){this.value=' ';}else if(this.value<0){this.value=' ';}"
id="yourid"  placeholder="english marks" ng-model="student.english_marks" ng-maxlength="100"/></td>
            <td>  <div ng-click="delete(student)"><font color="red">Remove</font></div></td>
            </tr>
        </table>

        <br />

        <table border="2">
            <thead>
                <tr cellspacing="20" cellpadding="20">
                    <th class="a" ng-click="sortData('name')">
                        <font color="blue"> Name</font> <div ng-class="getSortClass('name')"></div>
                    </th>
                    <th class="a" ng-click="sortData('gender')">
                        <font color="blue"> Gender</font> <div ng-class="getSortClass('gender')"></div>
                    </th>
                    <th class="a" ng-click="sortData('hindi_marks')">
                        <font color="blue"> Hindi Marks </font><div ng-class="getSortClass('hindi_marks')"></div>
                    </th>
                    <th class="a" ng-click="sortData('english_marks')">
                        <font color="blue"> English Marks </font><div ng-class="getSortClass('english_marks')"></div>
                    </th>
                    <th class="a" ng-click="sortData('hindi_marks+english_marks')"><font color="blue">Total</font><div ng-class="getSortClass('hindi_marks+english_marks')"></div></th>
                    <th class="a" ng-click="sortData('(hindi_marks+english_marks)/2')"><font color="blue">Average</font><div ng-class="getSortClass('hindi_marks+english_marks)/2')"></div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students | orderBy:sortColumn:reverseSort">
                    <td class="b"> {{ student.name }} </td>
                    <td class="b"> {{ student.gender }}  </td>
                    <td class="b"> {{ student.hindi_marks  }}  </td>
                    <td class="b"> {{ student.english_marks  }} </td>
                    <td class="b"> {{ student.hindi_marks + student.english_marks}}  </td>
                    <td class="b"> {{ (student.hindi_marks + student.english_marks)/2}}</td>
                    
                </tr>
            </tbody>
        </table><br>

<button id="show1" ng-click="sortDatamin('hindi_marks')">highest scorer of hindi </button>
    <data id="hm" ng-repeat="student in students  | orderBy:sortColumn13:true" ng-show="$first"> &nbsp;&nbsp;&nbsp;&nbsp;
    => &nbsp;&nbsp;{{student.hindi_marks}}----{{student.name}}</data>   <br><br>     

<script src="jquery.min.js"></script>
<script>
$(document).ready(function(){
   $("#hm").hide(); 
});
$(document).ready(function(){
    $("#show1").click(function(){
        $("#hm").show();
    });
});
</script>
<script>
$(document).ready(function(){
   $("#hm1").hide(); 
});
$(document).ready(function(){
    $("#show2").click(function(){
        $("#hm1").show();
    });
});
</script>
<button id="show2" ng-click="sortDatamin23('english_marks')">highest scorer of english </button>
<data id="hm1" ng-repeat="student in students  | orderBy:sortColumn23:true" ng-show="$first"> &nbsp;&nbsp;&nbsp;&nbsp;
    => &nbsp;&nbsp;{{student.english_marks}}----{{student.name}}</data>        

<script>
$(document).ready(function(){
   $("#hm3").hide(); 
});
$(document).ready(function(){
    $("#show3").click(function(){
        $("#hm3").show();
    });
});    
        </script> <br><br>       
 <button id="show3" ng-click="sortDatamin33('(hindi_marks+english_marks)/2')">highest average </button>
    <data id="hm3" ng-repeat="student in students  | orderBy:sortColumn33:true" ng-show="$first"> &nbsp;&nbsp;&nbsp;&nbsp;
    => &nbsp;&nbsp;{{(student.hindi_marks+student.english_marks)/2}}----{{student.name}}</data>      
       
        
        
</div>
</body>
</html>